In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mticker
import warnings

warnings.filterwarnings('ignore')
plt.rcParams.update({
    'figure.facecolor': '#0f0f0f',
    'axes.facecolor': '#1a1a2e',
    'axes.edgecolor': '#444',
    'axes.labelcolor': '#e0e0e0',
    'xtick.color': '#aaa',
    'ytick.color': '#aaa',
    'text.color': '#e0e0e0',
    'grid.color': '#2a2a4a',
    'grid.linestyle': '--',
    'grid.alpha': 0.5,
    'font.family': 'DejaVu Sans',
    'font.size': 11,
})

PALETTE = ['#00d4ff', '#ff6b6b', '#ffd93d', '#6bcb77', '#c77dff', '#ff9f43', '#48dbfb', '#ff6b9d']
print("âœ… Libraries loaded successfully.")

df = pd.read_csv('World Countries with capital.csv')
print(df.head())

âœ… Libraries loaded successfully.
       Country      Capital  Population Continent
0        China      Beijing  1412000000      Asia
1        Japan        Tokyo   122000000      Asia
2     Mongolia  Ulaanbaatar     3300000      Asia
3  North Korea    Pyongyang    26000000      Asia
4  South Korea        Seoul    51300000      Asia

In [2]:
print(df.columns)

Index(['Country', 'Capital', 'Population', 'Continent'], dtype='str')

In [3]:
print(df['Population'].dtype)

int64

In [4]:
print(df.shape)

(187, 4)

In [5]:
print(df.ndim)

2

In [6]:
print(df.isnull().sum())

Country       0
Capital       1
Population    0
Continent     0
dtype: int64

In [10]:
print(df['Country'].value_counts())

Country
Russia            2
China             1
Japan             1
Mongolia          1
North Korea       1
                 ..
Sweden            1
Switzerland       1
Ukraine           1
United Kingdom    1
Vatican City      1
Name: count, Length: 186, dtype: int64

In [9]:
print(df['Continent'].value_counts())

Continent
Africa           54
Asia             52
Europe           44
North America    23
South America    12
Antarctica        1
Australia         1
Name: count, dtype: int64

In [11]:
print(df['Capital'].value_counts())

Capital
Moscow          2
Beijing         1
Tokyo           1
Ulaanbaatar     1
Pyongyang       1
               ..
Stockholm       1
Bern            1
Kyiv            1
London          1
Vatican City    1
Name: count, Length: 185, dtype: int64

In [12]:
print(df['Population'].sum())

8157917800

In [14]:
print(df.loc[df['Population'].idxmax()])

Country            India
Capital        New Delhi
Population    1430000000
Continent           Asia
Name: 22, dtype: object

In [15]:
print(df.loc[df['Population'].idxmax(),'Country'])

India

In [16]:
print(df.loc[df['Population'].idxmin()])

Country       Vatican City
Capital       Vatican City
Population             800
Continent           Europe
Name: 186, dtype: object

In [17]:
print(df.loc[df['Population'].idxmin(),'Country'])

Vatican City

In [19]:
print(df.loc[df['Population'].idxmax(),'Continent'])

Asia

In [23]:
print(df.loc[df['Population'].idxmin(),'Continent'])

Europe

In [24]:
print(f"Dataset Loaded:{df.shape[0]} countries x {df.shape[1]} columns")

Dataset Loaded:187 countries x 4 columns

In [32]:
print("="*60)
print(" ðŸ“‹ DATASET OVERVIEW REPORT ")
print("="*60)
print(f"\n Shape : {df.shape[0]} rows X {df.shape[1]} columns")
print(f"Memory Usage: {df.memory_usage(deep=True).sum()/1024:2f} KB")
print(f"\n {'Column':<20} {'Dtype':<15} {'Non-Null':<12} {'Nulls':<10} {'Unique'}")
print('-'*70)

for col in df.columns:
    print(f"{col:<20} {str(df[col].dtype):<15} {df[col].notnull().sum():<12} {df[col].isnull().sum():<10} {df[col].unique()}")

print(f'\n Descriptive Statistics (Population)')
print(df['Population'].describe().apply(lambda x: f"{x:,.0f}"))

# population category
df['Pop_Category'] = pd.cut(df['Population'],bins=[0, 1e6, 10e6, 50e6, 200e6, 2e9],labels=['Micro (<1M)','small (1-10M)','medium (10-50M)','Large (50-200M) ','Giant (>200M)'])
print("\nâœ… Population tiers assigned")
print(df.head())

============================================================
 ðŸ“‹ DATASET OVERVIEW REPORT
============================================================

 Shape : 187 rows X 4 columns
Memory Usage: 32.828125 KB

 Column               Dtype           Non-Null     Nulls      Unique
----------------------------------------------------------------------
Country              str             187          0          <StringArray>
[         'China',          'Japan',       'Mongolia',    'North Korea',
    'South Korea',         'Taiwan',      'Hong Kong',          'Macau',
         'Brunei',       'Cambodia',
 ...
     'San Marino',         'Serbia',       'Slovakia',       'Slovenia',
          'Spain',         'Sweden',    'Switzerland',        'Ukraine',
 'United Kingdom',   'Vatican City']
Length: 186, dtype: str
Capital              str             186          1          <StringArray>
[            'Beijing',               'Tokyo',         'Ulaanbaatar',
           'Pyongyang',               'Seoul',              'Taipei',
           'Hong Kong',               'Macau', 'Bandar Seri Begawan',
          'Phnom Penh',
 ...
          'San Marino',            'Belgrade',          'Bratislava',
           'Ljubljana',              'Madrid',           'Stockholm',
                'Bern',                'Kyiv',              'London',
        'Vatican City']
Length: 186, dtype: str
Population           int64           187          0          [1412000000  122000000    3300000   26000000   51300000   23800000
    7500000     690000     450000   17000000    1400000  276000000
    7600000   33000000   55000000  115000000    6000000   71000000
  100000000   43000000  173000000     800000 1430000000     500000
   30000000  241000000   22000000   20000000    7000000   10000000
   36000000    3000000    1500000    1300000    4000000   46000000
   89000000    9800000   11000000    4500000    5500000    5300000
    5000000    2800000   85000000   34000000  146000000   14000000
    2600000   23000000   13000000     600000   29000000   19000000
     900000    6100000  105000000    1100000  112000000    1800000
    3600000    1200000  128000000    2400000    2700000   15000000
    2100000   56000000    2300000   31000000   21000000   38000000
   28000000  227000000     230000   18000000     120000    8800000
   62000000   12000000   49000000   67000000    9200000   50000000
      93000     410000     281000     430000   40000000   11200000
      73000   11300000    6400000     125000   18200000   11700000
   10600000  129000000    6900000      54000     184000     110000
  335000000   12500000  216000000   52000000     820000    7200000
     630000    3500000   28500000       5000   27000000      80000
    9100000   11800000    3200000    6500000    3800000   10900000
    5600000   68000000   84000000   10300000    9600000     390000
   59000000    1900000      39000     670000     540000     620000
   17800000   10400000      34000    6700000    5400000   48000000
   10500000    8900000   37000000        800]
Continent            str             187          0          <StringArray>
[         'Asia',        'Africa', 'North America', 'South America',
    'Antarctica',     'Australia',        'Europe']
Length: 7, dtype: str

 Descriptive Statistics (Population)
count              187
mean        43,625,229
std        152,109,831
min                800
25%          2,750,000
50%         10,000,000
75%         34,000,000
max      1,430,000,000
Name: Population, dtype: str

âœ… Population tiers assigned
       Country      Capital  Population Continent      Pop_Category
0        China      Beijing  1412000000      Asia     Giant (>200M)
1        Japan        Tokyo   122000000      Asia  Large (50-200M)
2     Mongolia  Ulaanbaatar     3300000      Asia     small (1-10M)
3  North Korea    Pyongyang    26000000      Asia   medium (10-50M)
4  South Korea        Seoul    51300000      Asia  Large (50-200M)

In [33]:
print(df.head())

       Country      Capital  Population Continent      Pop_Category
0        China      Beijing  1412000000      Asia     Giant (>200M)
1        Japan        Tokyo   122000000      Asia  Large (50-200M)
2     Mongolia  Ulaanbaatar     3300000      Asia     small (1-10M)
3  North Korea    Pyongyang    26000000      Asia   medium (10-50M)
4  South Korea        Seoul    51300000      Asia  Large (50-200M)

In [35]:
print(df.loc[df['Population'].idxmax(),'Pop_Category'])

Giant (>200M)